#blurr{
	height: 100vh;
	width: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

.modalwrapper{
	background: rgba(170, 187, 196, 0.6);
   border: 2px solid #000000;
   border-radius: 10px;
   padding:20px;
   width:700px;
    height: 10%;
    margin-top: 18%;
    margin-left: 29%;
	font-family: consolas;
	font-weight: bold;
}
.separator{
	width:95%;
}
.modaltitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 1px 2px white;
    font-family: consolas;
}

.modalcontent{
	margin-left: 25px;
	font-size: 16px;
}

#container{
	
}

#modalcontentid2{
    float: left;
    margin-top: -1px;
}

#modalcontentid3{
    float: left;
    margin-top: -1px;
}


#modalvalueid{
	height: 25px;
	width: 75px;
	float: left;
    margin-top: -1%;
}

#modalsubmitid{
    background: white;
    border-radius: 3px;
	margin-bottom: 20px;
    float: right;
    margin-right: 30px;
    font-weight: bold;
    font-size: larger;
    border-color: darkgray;
}