html{
	margin:0;
	background-image:url(../Images/background.jpg);
}

.pagecontainer{
	position:absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: indianred;
    border-left-style: solid;
    border-right: indianred;
    border-right-style: solid;
    background-color: rgba(147, 157, 166, 0.21);
}
.textbox{
	background:#69b5d2;
   border: 2px solid #000000;
   border-radius: 10px;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
    height: 10%;
    margin-top: 18%;
    margin-left: 40%;
	font-family: consolas;
	font-weight: bold;
}
.champ{
    border: 2px solid #b9aaab;
    background: #eaeaea;
   border-radius: 4px;
   color: #69b5d2;
   padding:8px;
   margin-bottom:20px;
   width:280px;
	font-weight: bold;
}.champ:focus{
    background: white;
}
#valider{
    width: 75%;
    margin-left: 12.5%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #eaeaea;
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px #999;
	font-family: consolas;
	font-weight: bold;
}
#valider:hover{
	background-color:white;
	transition:0.75s;
}